
.form_div_padding1, .form_div_padding2, .form_div_padding3, .form_div_padding4{
	padding: 1.5rem 1rem 1.1rem 1rem !important;
}

.form_div_padding5{
	padding: 1.5rem 1rem 1.4rem 1rem !important;
}

.form_div_padding6{
	padding: 1.5rem 1rem 1.5rem 1rem !important;
}

.form_div_padding7{
	padding: 1.5rem 1rem 1.3rem 1rem !important;
}
